#include <windows.h>
#include <commctrl.h>

#define IDD_SETTINGS 101
#define IDC_HOTKEY 1001
#define IDC_DEVICE_LIST 1002
#define IDC_STATIC -1

MAINICON ICON "switcheroo_dark.ico"

switcheroo_dark_icon ICON "switcheroo_dark.ico"
switcheroo_icon ICON "switcheroo.ico"
headphones_icon ICON "headphones.ico"
headphones_icon_dark ICON "headphones_dark.ico"
headset_icon ICON "headset.ico"
headset_icon_dark ICON "headset_dark.ico"
speaker_icon ICON "speaker.ico"
speaker_icon_dark ICON "speaker_dark.ico"

IDD_SETTINGS DIALOGEX 0, 0, 300, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sound Switcheroo Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Global Hotkey:",IDC_STATIC,10,10,60,8
    CONTROL         "",IDC_HOTKEY,HOTKEY_CLASS,WS_BORDER | WS_TABSTOP,75,8,150,14
    GROUPBOX        "Audio Devices",IDC_STATIC,10,30,280,185
    CONTROL         "",IDC_DEVICE_LIST,WC_LISTVIEW,LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,20,45,260,160
    DEFPUSHBUTTON   "OK",IDOK,185,225,50,18
    PUSHBUTTON      "Cancel",IDCANCEL,240,225,50,18
END